.register-container {
  font-family: "Montserrat", sans-serif;
}

.form-container {
  padding-top: 38px;
  padding-bottom: 38px;
}

.back-to-signin-text {
  color: #2b4eff;
  text-decoration: none;
}

.signup-btn {
  background-color: #2b4eff;
  color: white;
}

.signup-btn:hover {
  box-shadow: 5px 5px #e3e0e0;
  background-color: #4563fd;
  color: white;
}
