.header-brand .name-logo {
  text-decoration: none;
  color: black;
}

.header-brand .name-logo span {
  font-size: 25px;
  font-family: "Mali", cursive;
}

.header-brand .name-logo img {
  width: 40px;
}

.title-left {
  color: #26a69a;
}

.nav-links a {
  text-decoration: none;
  color: black;
  margin: 15px;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}

.nav-links a:hover {
  color: #a0a0a0;
}

.dropdown-nav-links {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

.toggle-btn {
  font-size: 30px;
  margin-right: 15px;
  cursor: pointer;
}

.login-btn {
  font-family: "Montserrat", sans-serif !important;
  font-size: 18px;
}

.center-nav {
  position: relative;
}

.center-nav:after {
  content: "";
  position: absolute;
  background-color: black;
  height: 3px;
  width: 0;
  left: 0;
  transition: 0.3s;
  bottom: -10px;
}

.center-nav:hover:after {
  width: 100%;
}
