.signin-container {
  font-family: "Montserrat", sans-serif;
}

.form-container {
  padding-top: 38px;
  padding-bottom: 38px;
}

.form-container form {
  padding: 30px;
  width: 35%;
  border-radius: 5px;
}

.form-control:focus {
  border-color: #2b4eff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(140, 0, 255, 0.6);
}

.form-container input[type="password"],
input[type="email"],
input[type="text"] {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-color: black;
  outline: none;
  border-radius: 0;
}

.divider p {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid grey;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.divider p span {
  background: #fff;
  padding: 0 10px;
}

.signin-btn {
  background-color: #2b4eff;
  color: white;
}

.signin-btn:hover {
  box-shadow: 5px 5px #e3e0e0;
  background-color: #4563fd;
  color: white;
}

.form-text {
  color: #2b4eff;
  text-decoration: none;
}

.btn-third-party button {
  background-color: #fff;
  border: 1px solid grey;
  border-radius: 30px;
  color: black;
  font-size: 18px;
  position: relative;
}

.btn-third-party button:hover {
  background-color: #2b4eff;
  color: white;
}

.btn-third-party button svg {
  font-size: 18px;
  position: absolute;
  line-height: 24px;
  top: 50%;
  margin-top: -9px; /* Half of line height to keep left middle postion of container */
  left: 10px;
}

@media only screen and (max-width: 576px) {
  .form-container form {
    width: 80%;
  }
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
  .form-container form {
    width: 75%;
  }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
  .form-container form {
    width: 60%;
  }
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .form-container form {
    width: 45%;
  }
}
